{% import 'common/topics.html' as topics_util %}
{% extends 'common/content_layout.html' %}

{% block header_left %}
    <div class="title">
        <div class="bread-nav">
            <a href="{{ url('index') }}">首页</a> › 来自我关注的人的最新主题
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="topic-lists user-topics">

        <div class="topics">
            {{ topics_util.topics(object_list) }}
        </div>

        {% if paginator.count == 0 %}
        <div class="pl10 pr10">
            <div class="alert mt20 no-topics">
                暂时还没有关注的人。
            </div>
        </div>
        {% endif %}
</div>
<div class="clearfix">
    <div class="fr">
        {{ page_obj|paginate }}
    </div>
</div>
{% endblock %}

