{% import 'common/topics.html' as topics_util %}
{% extends 'common/content_layout.html' %}

{% block header_left %}
    <span class="title bread-nav">F2E › 来自我收藏的节点的最新主题</span>
{% endblock %}

{% block main %}
<div class="topic-lists container-box user-topics">
        <div class="topics">
            {{ topics_util.topics(object_list) }}
        </div>

        {% if paginator.count == 0 %}
        <div class="pl10 pr10">
            <div class="alert mt20 no-topics">
                暂时还没有收藏过节点。
            </div>
        </div>
        {% endif %}

</div>

<div class="clearfix">
    <div class="fr">
        {{ page_obj|paginate }}
    </div>
</div>
{% endblock %}

