{% extends 'common/content_layout.html' %}
{% import 'common/topics.html' as topics_util %}

{% block header_left %}
    <div class="title">
        <div class="bread-nav">
            <a href="{{ url('index') }}">首页</a> › 我收藏的主题列表
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="topic-lists container-box user-topics">
        <div class="topics">
            {{ topics_util.topics(object_list) }}
        </div>

        {% if paginator.count == 0 %}
        <div class="pl10 pr10">
            <div class="alert mt20 no-topics">
                暂时还没有收藏过主题。
            </div>
        </div>
        {% endif %}

</div>
<div class="clearfix">
    <div class="fr">
        {{ page_obj|paginate }}
    </div>
</div>
{% endblock %}

