{% import 'common/topics.html' as topics_util %}
{% extends 'common/content_layout.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/codehilite.css"/>
{% endblock %}

{% block main %}
<div class="replies-lists container-box user-replies">
    <div class="ui-header">
        <span class="title bread-nav">F2E › <a href="{{ owner.get_absolute_url() }}">{{ owner.get_username()}}</a> › 回复列表</span>
    </div>

    <div class="ui-content">
        {{ topics_util.replies(reply_list) }}

        {% if paginator.count == 0 %}
        <div class="pl10 pr10">
            <div class="alert mt20 no-replies">
                该用户暂时还没有回复过主题。
            </div>
        </div>
        {% endif %}
    </div>

    <div class="ui-footer">
        {{ page_obj|paginate }}
    </div>
</div>
{% endblock %}
