{% extends 'common/content_layout.html' %}

{% block header_left %}
    <div class="title">
        <div class="bread-nav">
            <a href="{{ url('index') }}">首页</a> › 最新日历
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="white-bg p10 shadow events">
<table class="w lh200 tr">
    <thead>
        <tr>
            <th class="time pb10 pt10">时间</th>
            <th class="flagCur tl pl30">货币</th>
            <th class="txtNum tr pl20 pr10">重要性</th>
            <th class="event tl pl30">活动</th>
            <th class="act pl10">今值</th>
            <th class="fore pl10">预测值</th>
            <th class="prev pl10 pr10">前值</th>
        </tr>
    </thead>
    <tbody>
    {% for e in object_list %}
        <tr>
            {% if e.time >= today  %}
            <td class="time">{{ e.time|datetime('%H:%M:%S') }}</td>
            {% else %}
            <td class="time">{{ e.time|datetime }}</td>
            {% endif %}
            <td class="flagCur pl20 tl"><span class="ceFlags {{ e.country }}">&nbsp;</span>{{ e.flag_cur }}</td>
            <td class="txtNum"><i class="txtNum{{ e.txt_num }}">&nbsp;</i></td>
            <td class="event tl pl30">{{ e.event }}</td>
            <td class="act">{{ e.act }}</td>
            <td class="fore">{{ e.fore }}</td>
            <td class="prev pr10">{{ e.prev }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div class="clearfix">
    <div class="fr">
      {{ page_obj|paginate }}
    </div>
</div>
{% endblock %}
