@font-face {
  font-family: 'octicons';
  src: url("/static/octicons/octicons-d3d0b82bf791ac147d72bbf0287cdde8ee5c97b8.eot");
  src: url("/static/octicons/octicons-d3d0b82bf791ac147d72bbf0287cdde8ee5c97b8.eot#iefix") format("embedded-opentype"), url("/static/octicons/octicons-a60d585f754059c3c2ef731f853c38c157040b9c.woff") format("woff"), url("/static/octicons/octicons-8b97c2cd5068ec4620cbde3140db257b1924a192.ttf") format("truetype"), url("/static/octicons/octicons-a8248bbb3baccca60948d81d69e3406b71956a69.svg#octicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.octicon {
  font: normal normal 16px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased; }

.mega-octicon {
  font: normal normal 32px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased; }

.octicon-alert:before {
  content: "\f02d"; }

.octicon-alignment-align:before {
  content: "\f08a"; }

.octicon-alignment-aligned-to:before {
  content: "\f08e"; }

.octicon-alignment-unalign:before {
  content: "\f08b"; }

.octicon-arrow-down:before {
  content: "\f03f"; }

.octicon-arrow-left:before {
  content: "\f040"; }

.octicon-arrow-right:before {
  content: "\f03e"; }

.octicon-arrow-small-down:before {
  content: "\f0a0"; }

.octicon-arrow-small-left:before {
  content: "\f0a1"; }

.octicon-arrow-small-right:before {
  content: "\f071"; }

.octicon-arrow-small-up:before {
  content: "\f09f"; }

.octicon-arrow-up:before {
  content: "\f03d"; }

.octicon-beer:before {
  content: "\f069"; }

.octicon-book:before {
  content: "\f007"; }

.octicon-bookmark:before {
  content: "\f07b"; }

.octicon-broadcast:before {
  content: "\f048"; }

.octicon-bug:before {
  content: "\f091"; }

.octicon-calendar:before {
  content: "\f068"; }

.octicon-check:before {
  content: "\f03a"; }

.octicon-checklist:before {
  content: "\f076"; }

.octicon-chevron-down:before {
  content: "\f0a3"; }

.octicon-chevron-left:before {
  content: "\f0a4"; }

.octicon-chevron-right:before {
  content: "\f078"; }

.octicon-chevron-up:before {
  content: "\f0a2"; }

.octicon-circle-slash:before {
  content: "\f084"; }

.octicon-clippy:before {
  content: "\f035"; }

.octicon-clock:before {
  content: "\f046"; }

.octicon-cloud-download:before {
  content: "\f00b"; }

.octicon-cloud-upload:before {
  content: "\f00c"; }

.octicon-code:before {
  content: "\f05f"; }

.octicon-color-mode:before {
  content: "\f065"; }

.octicon-comment:before {
  content: "\f02b"; }

.octicon-comment-add:before {
  content: "\f06f"; }

.octicon-comment-discussion:before {
  content: "\f04f"; }

.octicon-credit-card:before {
  content: "\f045"; }

.octicon-dashboard:before {
  content: "\f07d"; }

.octicon-database:before {
  content: "\f096"; }

.octicon-device-camera:before {
  content: "\f056"; }

.octicon-device-camera-video:before {
  content: "\f057"; }

.octicon-device-desktop:before {
  content: "\f27c"; }

.octicon-device-mobile:before {
  content: "\f038"; }

.octicon-diff:before {
  content: "\f04d"; }

.octicon-diff-added:before {
  content: "\f06b"; }

.octicon-diff-ignored:before {
  content: "\f099"; }

.octicon-diff-modified:before {
  content: "\f06d"; }

.octicon-diff-removed:before {
  content: "\f06c"; }

.octicon-diff-renamed:before {
  content: "\f06e"; }

.octicon-ellipsis:before {
  content: "\f09a"; }

.octicon-eye:before {
  content: "\f04e"; }

.octicon-eye-unwatch:before {
  content: "\f01e"; }

.octicon-eye-watch:before {
  content: "\f01d"; }

.octicon-file-add:before {
  content: "\f086"; }

.octicon-file-binary:before {
  content: "\f094"; }

.octicon-file-code:before {
  content: "\f010"; }

.octicon-file-directory:before {
  content: "\f016"; }

.octicon-file-directory-create:before {
  content: "\f095"; }

.octicon-file-media:before {
  content: "\f012"; }

.octicon-file-pdf:before {
  content: "\f014"; }

.octicon-file-submodule:before {
  content: "\f017"; }

.octicon-file-symlink-directory:before {
  content: "\f0b1"; }

.octicon-file-symlink-file:before {
  content: "\f0b0"; }

.octicon-file-text:before {
  content: "\f011"; }

.octicon-file-zip:before {
  content: "\f013"; }

.octicon-gear:before {
  content: "\f02f"; }

.octicon-gift:before {
  content: "\f042"; }

.octicon-gist:before {
  content: "\f00e"; }

.octicon-gist-fork:before {
  content: "\f079"; }

.octicon-gist-new:before {
  content: "\f07a"; }

.octicon-gist-private:before {
  content: "\f00f"; }

.octicon-gist-secret:before {
  content: "\f08c"; }

.octicon-git-branch:before {
  content: "\f020"; }

.octicon-git-branch-create:before {
  content: "\f098"; }

.octicon-git-branch-delete:before {
  content: "\f09b"; }

.octicon-git-commit:before {
  content: "\f01f"; }

.octicon-git-compare:before {
  content: "\f0ac"; }

.octicon-git-fork-private:before {
  content: "\f021"; }

.octicon-git-merge:before {
  content: "\f023"; }

.octicon-git-pull-request:before {
  content: "\f009"; }

.octicon-git-pull-request-abandoned:before {
  content: "\f090"; }

.octicon-globe:before {
  content: "\f0b6"; }

.octicon-graph:before {
  content: "\f043"; }

.octicon-history:before {
  content: "\f07e"; }

.octicon-home:before {
  content: "\f08d"; }

.octicon-horizontal-rule:before {
  content: "\f070"; }

.octicon-hourglass:before {
  content: "\f09e"; }

.octicon-hubot:before {
  content: "\f09d"; }

.octicon-info:before {
  content: "\f059"; }

.octicon-issue-closed:before {
  content: "\f028"; }

.octicon-issue-opened:before {
  content: "\f026"; }

.octicon-issue-reopened:before {
  content: "\f027"; }

.octicon-jersey:before {
  content: "\f019"; }

.octicon-jump-down:before {
  content: "\f072"; }

.octicon-jump-left:before {
  content: "\f0a5"; }

.octicon-jump-right:before {
  content: "\f0a6"; }

.octicon-jump-up:before {
  content: "\f073"; }

.octicon-key:before {
  content: "\f049"; }

.octicon-keyboard:before {
  content: "\f00d"; }

.octicon-light-bulb:before {
  content: "\f000"; }

.octicon-link:before {
  content: "\f05c"; }

.octicon-link-external:before {
  content: "\f07f"; }

.octicon-list-ordered:before {
  content: "\f062"; }

.octicon-list-unordered:before {
  content: "\f061"; }

.octicon-location:before {
  content: "\f060"; }

.octicon-lock:before {
  content: "\f06a"; }

.octicon-log-in:before {
  content: "\f036"; }

.octicon-log-out:before {
  content: "\f032"; }

.octicon-logo-github:before {
  content: "\f092"; }

.octicon-mail:before {
  content: "\f03b"; }

.octicon-mail-read:before {
  content: "\f03c"; }

.octicon-mail-reply:before {
  content: "\f051"; }

.octicon-mark-github:before {
  content: "\f00a"; }

.octicon-mark-twitter:before {
  content: "\f0ae"; }

.octicon-megaphone:before {
  content: "\f077"; }

.octicon-microscope:before {
  content: "\f089"; }

.octicon-milestone:before {
  content: "\f075"; }

.octicon-mirror-private:before {
  content: "\f025"; }

.octicon-mirror-public:before {
  content: "\f024"; }

.octicon-move-down:before {
  content: "\f0a8"; }

.octicon-move-left:before {
  content: "\f074"; }

.octicon-move-right:before {
  content: "\f0a9"; }

.octicon-move-up:before {
  content: "\f0a7"; }

.octicon-mute:before {
  content: "\f080"; }

.octicon-no-newline:before {
  content: "\f09c"; }

.octicon-octoface:before {
  content: "\f008"; }

.octicon-organization:before {
  content: "\f037"; }

.octicon-pencil:before {
  content: "\f058"; }

.octicon-person:before {
  content: "\f018"; }

.octicon-person-add:before {
  content: "\f01a"; }

.octicon-person-follow:before {
  content: "\f01c"; }

.octicon-person-remove:before {
  content: "\f01b"; }

.octicon-pin:before {
  content: "\f041"; }

.octicon-plus:before {
  content: "\f05d"; }

.octicon-podium:before {
  content: "\f0af"; }

.octicon-primitive-dot:before {
  content: "\f052"; }

.octicon-primitive-square:before {
  content: "\f053"; }

.octicon-pulse:before {
  content: "\f085"; }

.octicon-question:before {
  content: "\f02c"; }

.octicon-quote:before {
  content: "\f063"; }

.octicon-radio-tower:before {
  content: "\f030"; }

.octicon-remove-close:before {
  content: "\f050"; }

.octicon-repo:before {
  content: "\f001"; }

.octicon-repo-clone:before {
  content: "\f04c"; }

.octicon-repo-create:before {
  content: "\f003"; }

.octicon-repo-delete:before {
  content: "\f004"; }

.octicon-repo-force-push:before {
  content: "\f04a"; }

.octicon-repo-forked:before {
  content: "\f002"; }

.octicon-repo-pull:before {
  content: "\f006"; }

.octicon-repo-push:before {
  content: "\f005"; }

.octicon-repo-sync:before {
  content: "\f04b"; }

.octicon-rocket:before {
  content: "\f033"; }

.octicon-rss:before {
  content: "\f034"; }

.octicon-ruby:before {
  content: "\f047"; }

.octicon-screen-full:before {
  content: "\f066"; }

.octicon-screen-normal:before {
  content: "\f067"; }

.octicon-search:before {
  content: "\f02e"; }

.octicon-server:before {
  content: "\f097"; }

.octicon-settings:before {
  content: "\f07c"; }

.octicon-squirrel:before {
  content: "\f0b2"; }

.octicon-star:before {
  content: "\f02a"; }

.octicon-star-add:before {
  content: "\f082"; }

.octicon-star-delete:before {
  content: "\f083"; }

.octicon-stop:before {
  content: "\f08f"; }

.octicon-sync:before {
  content: "\f087"; }

.octicon-tag:before {
  content: "\f015"; }

.octicon-tag-add:before {
  content: "\f054"; }

.octicon-tag-remove:before {
  content: "\f055"; }

.octicon-telescope:before {
  content: "\f088"; }

.octicon-three-bars:before {
  content: "\f05e"; }

.octicon-tools:before {
  content: "\f031"; }

.octicon-triangle-down:before {
  content: "\f05b"; }

.octicon-triangle-left:before {
  content: "\f044"; }

.octicon-triangle-right:before {
  content: "\f05a"; }

.octicon-triangle-up:before {
  content: "\f0aa"; }

.octicon-unfold:before {
  content: "\f039"; }

.octicon-versions:before {
  content: "\f064"; }

.octicon-x:before {
  content: "\f081"; }

.octicon-zap:before {
  content: "\26A1"; }

/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v0.10.1
* Docs at http://davidtheclark.github.io/scut
*/
.topics .topic-item:after, .blogs .blog-item:after, .community-status dl:after, .user-page .profile dl:after, .topic-detail .ui-header:after, .topic-detail .ui-footer:after, .topic-reply .ui-content .reply-item:after, .notification-item:after {
  content: "";
  display: table;
  clear: both; }

body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
  background-color: #F3F0F1; }

a {
  color: #999; }

.btn-small {
  font-size: 12px; }

.btn {
  color: #666 !important; }

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 960px; }

.messages {
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  text-align: center; }

.top-navbar {
  font-size: 14px;
  position: relative;
  background-color: #EB4A31;
  padding-top: 4px; }
  .top-navbar .navbar-inner {
    background-color: #CFCCCD;
    background-image: none;
    border: none;
    box-shadow: none;
    padding: 46px 0 30px; }
    .top-navbar .navbar-inner .nav a {
      padding: 5px 15px; }
    .top-navbar .navbar-inner .nav > .active > a {
      background-color: #ffffff; }

.shadow, .topics .topic-item, .blogs .blog-item {
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 105px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.container {
  overflow-y: hidden; }

.page-header {
  padding: 0;
  margin: 0;
  background-color: #CFCCCD;
  border: none; }
  .page-header .page-header-inner {
    background-color: #F3F0F1; }
    .page-header .page-header-inner .title {
      line-height: 30px;
      font-size: 15px; }
  .page-header .carousel {
    margin-bottom: 0; }
    .page-header .carousel a {
      color: #ffffff; }
    .page-header .carousel img {
      width: 100%; }
    .page-header .carousel .item {
      height: 300px; }
  .page-header .carousel-indicators {
    top: inherit;
    bottom: 15px;
    right: 30px; }
  .page-header .nav {
    margin-bottom: 0; }
    .page-header .nav li {
      margin-right: 24px;
      font-size: 15px;
      line-height: 30px; }
  .page-header form {
    margin: 0; }

.page-main {
  background-color: #FBF8F9;
  padding: 24px;
  min-height: 480px; }

.ui-header {
  border-bottom: 1px solid #CECBCC; }

.ui-content {
  padding-top: 12px;
  padding-bottom: 12px; }

.whats-new, .recent-blogs {
  padding: 24px 0 0; }

.scrollable-calendar {
  padding: 0; }

.row-fluid .left-block {
  width: 70.468%; }
.row-fluid .right-block {
  width: 27.404%; }

.topics {
  padding: 0; }
  .topics .topic-item {
    padding: 10px 40px 10px 10px;
    line-height: 12px;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 10px; }
    .topics .topic-item .avatar {
      -webkit-border-radius: first-value-of(3px) first-value-of(3px);
      -moz-border-radius: 3px / 3px;
      border-radius: 3px / 3px;
      float: left;
      margin: 0 10px 0 0;
      width: 42px;
      height: 42px; }
    .topics .topic-item .title {
      font-size: 16px;
      font-weight: normal;
      line-height: 21px;
      color: #777;
      margin: 0 0 3px 0;
      letter-spacing: 0;
      text-shadow: 0 1px 0 #fff; }
      .topics .topic-item .title a {
        color: #555; }
    .topics .topic-item .meta {
      font-size: 12px;
      color: #a5a5a5; }
      .topics .topic-item .meta .node {
        -webkit-border-radius: first-value-of(3px) first-value-of(3px);
        -moz-border-radius: 3px / 3px;
        border-radius: 3px / 3px;
        display: inline-block;
        padding: 3px 4px;
        background: #eee; }
        .topics .topic-item .meta .node a {
          color: #a5a5a5; }
      .topics .topic-item .meta .username {
        font-weight: bold;
        color: #888; }
        .topics .topic-item .meta .username a {
          color: #888; }
      .topics .topic-item .meta .last-reply-username strong {
        margin: 0 0 0 3px;
        color: #888; }
      .topics .topic-item .meta span {
        margin: 0 5px 0 2px; }
    .topics .topic-item .count {
      -webkit-border-radius: first-value-of(8px) first-value-of(8px);
      -moz-border-radius: 8px / 8px;
      border-radius: 8px / 8px;
      position: absolute;
      right: 10px;
      top: 40%;
      background: #bbb;
      font-size: 13px; }
      .topics .topic-item .count a {
        color: #fff;
        padding: 3px 8px;
        display: block;
        background: #b5bbcf;
        -webkit-border-radius: first-value-of(8px) first-value-of(8px);
        -moz-border-radius: 8px / 8px;
        border-radius: 8px / 8px; }
        .topics .topic-item .count a:visited {
          background: #d5d5d5; }
    .topics .topic-item .main {
      padding: 0 0 0 45px; }
  .topics .pagination {
    margin: 13px 15px;
    float: right; }
    .topics .pagination a {
      color: #999;
      padding: 2px 9px; }
  .topics .ui-header {
    padding: 10px; }
    .topics .ui-header .bread-nav {
      font-size: 14px;
      line-height: 27px; }

.blogs {
  padding: 0; }
  .blogs .blog-item {
    background-color: #ffffff;
    padding: 10px 40px 10px 10px;
    margin: 0 0 20px 0;
    line-height: 12px;
    position: relative; }
    .blogs .blog-item .cover {
      margin: -10px -40px 20px -10px; }
      .blogs .blog-item .cover img {
        width: 100%; }
    .blogs .blog-item .avatar {
      -webkit-border-radius: first-value-of(3px) first-value-of(3px);
      -moz-border-radius: 3px / 3px;
      border-radius: 3px / 3px;
      float: left;
      margin: 0 10px 0 0;
      width: 42px;
      height: 42px; }
    .blogs .blog-item .title {
      font-size: 16px;
      font-weight: normal;
      line-height: 21px;
      color: #777;
      margin: 0 0 3px 0;
      letter-spacing: 0;
      text-shadow: 0 1px 0 #fff; }
      .blogs .blog-item .title a {
        color: #555; }
    .blogs .blog-item .meta {
      font-size: 12px;
      color: #a5a5a5; }
      .blogs .blog-item .meta .username {
        font-weight: bold;
        color: #888; }
        .blogs .blog-item .meta .username a {
          color: #888; }
      .blogs .blog-item .meta .last-reply-username strong {
        margin: 0 0 0 3px;
        color: #888; }
      .blogs .blog-item .meta span {
        margin: 0 5px 0 2px; }
    .blogs .blog-item .count {
      -webkit-border-radius: first-value-of(8px) first-value-of(8px);
      -moz-border-radius: 8px / 8px;
      border-radius: 8px / 8px;
      position: absolute;
      right: 10px;
      top: 10px;
      background: #bbb;
      font-size: 13px; }
      .blogs .blog-item .count a {
        color: #fff;
        padding: 3px 8px;
        display: block;
        background: #b5bbcf;
        -webkit-border-radius: first-value-of(8px) first-value-of(8px);
        -moz-border-radius: 8px / 8px;
        border-radius: 8px / 8px; }
        .blogs .blog-item .count a:visited {
          background: #d5d5d5; }
    .blogs .blog-item .main {
      padding: 0 0 0 45px; }
    .blogs .blog-item .summary {
      padding: 20px 0;
      line-height: 18px; }
    .blogs .blog-item .read-more {
      margin-bottom: 10px; }
  .blogs .pagination {
    margin: 13px 15px;
    float: right; }
    .blogs .pagination a {
      color: #999;
      padding: 2px 9px; }
  .blogs .ui-header {
    padding: 10px; }
    .blogs .ui-header .bread-nav {
      font-size: 14px;
      line-height: 27px; }

.usercard, .user-page .profile {
  padding: 0; }
  .usercard .ui-header, .user-page .profile .ui-header {
    line-height: 25px; }
    .usercard .ui-header .avatar, .user-page .profile .ui-header .avatar {
      -webkit-border-radius: first-value-of(3px) first-value-of(3px);
      -moz-border-radius: 3px / 3px;
      border-radius: 3px / 3px;
      float: left;
      margin-right: 10px;
      width: 48px;
      height: 48px; }
    .usercard .ui-header .username, .user-page .profile .ui-header .username {
      font-size: 18px; }
  .usercard .member-stats, .user-page .profile .member-stats {
    padding-top: 24px; }
    .usercard .member-stats .status, .user-page .profile .member-stats .status {
      width: 33%;
      float: left;
      margin-bottom: 10px;
      text-align: center;
      border-right: 1px solid #eee;
      line-height: 18px;
      font-size: 12px; }
      .usercard .member-stats .status:last-child, .user-page .profile .member-stats .status:last-child {
        border: 0; }
      .usercard .member-stats .status strong, .user-page .profile .member-stats .status strong {
        display: block;
        font-size: 16px;
        padding-bottom: 4px;
        color: #888888; }
    .usercard .member-stats a, .user-page .profile .member-stats a {
      color: #a5a5a5;
      text-decoration: none;
      display: block; }

.nodes-cloud {
  padding: 0; }
  .nodes-cloud .title {
    font-size: 13px;
    line-height: 12px;
    color: #333;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    padding-left: 30px;
    text-shadow: 0 1px 0 #fff; }
  .nodes-cloud ul {
    margin: 0;
    text-shadow: 0 1px 0 #fff; }
    .nodes-cloud ul li {
      list-style: none;
      border-bottom: 1px solid #eee;
      padding: 7px 10px 7px 0;
      line-height: 24px; }
      .nodes-cloud ul li:last-child {
        border: 0; }
      .nodes-cloud ul li label {
        cursor: default;
        font-weight: bold;
        float: left;
        text-align: right;
        width: 60px;
        line-height: 24px;
        font-size: 13px; }
      .nodes-cloud ul li .nodes {
        display: block;
        padding: 0 0 0 80px; }
        .nodes-cloud ul li .nodes a {
          color: #666;
          font-size: 13px;
          margin: 0 5px; }

.footer {
  line-height: 20px;
  background: #F3F0F1; }
  .footer .footer-bg {
    background: #3F4C53;
    padding: 24px;
    color: #ffffff; }
    .footer .footer-bg a {
      color: #999; }
    .footer .footer-bg .fade-color {
      color: #ccc; }

.hot-nodes a {
  -webkit-border-radius: first-value-of(2px) first-value-of(2px);
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  display: inline-block;
  padding: 1px 5px;
  margin: 3px 0;
  background: #f3f3f3;
  color: #999;
  font-size: 12px;
  border: 1px solid #e5e5e5;
  text-shadow: 0 1px 0 #fff; }

.community-status dl {
  margin: 5px 0 5px 0; }
  .community-status dl dt {
    float: left;
    width: 56px;
    text-align: right; }
  .community-status dl dd {
    padding: 0 0 0 60px; }

.topic-lists {
  padding: 0; }
  .topic-lists .ui-footer {
    padding: 10px;
    font-size: 12px; }

.user-page .profile {
  padding: 10px;
  background-color: #ffffff; }
  .user-page .profile .ui-header {
    position: relative; }
  .user-page .profile .ui-content {
    padding: 15px; }
  .user-page .profile .follow {
    position: absolute;
    right: 20px;
    top: 15px; }
  .user-page .profile dl {
    margin: 5px 0 5px 0; }
    .user-page .profile dl dt {
      float: left;
      width: 50px;
      text-align: right;
      font-weight: normal; }
    .user-page .profile dl dd {
      padding: 0 0 0 60px; }
.user-page .project-lists ul {
  margin: 0;
  padding: 10px 1px 0 1px; }
  .user-page .project-lists ul li {
    list-style: none; }
    .user-page .project-lists ul li .title a {
      color: #333;
      font-weight: bold; }
    .user-page .project-lists ul li .desc {
      color: #888; }
.user-page .self-introduction .ui-content {
  padding: 10px 0 5px 0;
  line-height: 25px; }
.user-page .book-lists table a img {
  max-width: 73px; }

.topic-detail {
  padding: 0; }
  .topic-detail .ui-header {
    border-bottom: 1px solid #eee;
    padding: 10px; }
    .topic-detail .ui-header .avatar {
      float: right;
      -webkit-border-radius: first-value-of(3px) first-value-of(3px);
      -moz-border-radius: 3px / 3px;
      border-radius: 3px / 3px; }
    .topic-detail .ui-header .title {
      border: 0;
      padding: 0;
      font-weight: normal; }
  .topic-detail .ui-content {
    padding: 15px 10px 10px 10px;
    font-size: 14px;
    line-height: 25px; }
    .topic-detail .ui-content .cover {
      margin: -15px -10px 10px -10px; }
    .topic-detail .ui-content .gist .gist-file {
      -webkit-border-radius: first-value-of(3px) first-value-of(3px);
      -moz-border-radius: 3px / 3px;
      border-radius: 3px / 3px; }
    .topic-detail .ui-content h1, .topic-detail .ui-content h2, .topic-detail .ui-content h3, .topic-detail .ui-content h4, .topic-detail .ui-content h5,
    .topic-detail .ui-content blockquote p {
      font-size: 13px;
      line-height: 20px; }
    .topic-detail .ui-content p {
      margin: 0 0 10px 0 !important; }
    .topic-detail .ui-content ul > li,
    .topic-detail .ui-content ol > li {
      line-height: 22px; }
      .topic-detail .ui-content ul > li p,
      .topic-detail .ui-content ol > li p {
        margin: 0 !important; }
    .topic-detail .ui-content iframe {
      max-height: 195px; }
  .topic-detail .ui-footer {
    background: #F3F0F1;
    padding: 5px 10px;
    border-top: 1px solid #eee;
    color: #666;
    font-size: 12px;
    text-shadow: 0px 1px 0px #fff; }
    .topic-detail .ui-footer a {
      color: #333;
      font-size: 12px;
      text-shadow: 0px 1px 0px #fff; }

.topic-reply {
  padding: 0; }
  .topic-reply .ui-header {
    -webkit-border-radius: first-value-of(5px) first-value-of(5px 5px 0 0);
    -moz-border-radius: 5px / 5px 5px 0 0;
    border-radius: 5px / 5px 5px 0 0;
    padding: 7px 10px;
    color: #999;
    border-bottom: 1px solid #eee;
    font-size: 12px; }
  .topic-reply .ui-content {
    padding: 0 10px; }
    .topic-reply .ui-content .reply-item {
      border-bottom: 1px solid #eee;
      padding: 10px 0; }
      .topic-reply .ui-content .reply-item:last-child {
        border-bottom: 0; }
      .topic-reply .ui-content .reply-item .avatar {
        -webkit-border-radius: first-value-of(3px) first-value-of(3px);
        -moz-border-radius: 3px / 3px;
        border-radius: 3px / 3px;
        float: left;
        margin-right: 10px;
        width: 48px;
        height: 48px; }
      .topic-reply .ui-content .reply-item .main {
        padding: 0 0 0 60px; }
        .topic-reply .ui-content .reply-item .main .meta {
          font-size: 12px;
          padding: 0 0 5px 0; }
          .topic-reply .ui-content .reply-item .main .meta .username {
            font-weight: bold; }
          .topic-reply .ui-content .reply-item .main .meta .time {
            color: #999;
            margin: 0 0 0 5px; }
          .topic-reply .ui-content .reply-item .main .meta .reply-username {
            color: #333; }
          .topic-reply .ui-content .reply-item .main .meta .reply-to {
            margin: 0 5px 0 0;
            cursor: pointer; }
            .topic-reply .ui-content .reply-item .main .meta .reply-to img {
              vertical-align: text-bottom; }
          .topic-reply .ui-content .reply-item .main .meta .floor {
            color: #999; }
        .topic-reply .ui-content .reply-item .main .content {
          font-size: 14px;
          font-weight: normal;
          line-height: 22px; }
          .topic-reply .ui-content .reply-item .main .content h1, .topic-reply .ui-content .reply-item .main .content h2, .topic-reply .ui-content .reply-item .main .content h3, .topic-reply .ui-content .reply-item .main .content h4, .topic-reply .ui-content .reply-item .main .content h5,
          .topic-reply .ui-content .reply-item .main .content blockquote p {
            font-size: 13px;
            line-height: 20px; }
          .topic-reply .ui-content .reply-item .main .content iframe {
            max-height: 135px; }
    .topic-reply .ui-content .gist .gist-file {
      -webkit-border-radius: first-value-of(3px) first-value-of(3px);
      -moz-border-radius: 3px / 3px;
      border-radius: 3px / 3px; }
  .topic-reply .ui-footer .pagination {
    margin: 5px 15px 10px 10px;
    float: right; }
    .topic-reply .ui-footer .pagination a {
      color: #999; }

.sidebox {
  margin: 24px 0; }
  .sidebox .ui-header {
    padding: 10px 10px 0; }
  .sidebox .ui-content {
    line-height: 23px; }

.topic-create form .span11 {
  width: 622px; }
.topic-create form textarea {
  width: 635px;
  height: 430px; }

.topic-reply-create form {
  margin: 0; }
  .topic-reply-create form textarea {
    width: 635px;
    height: 230px; }
.topic-reply-create .ui-content {
  padding: 5px 0 0; }

.errors {
  margin: 0 0 25px 0; }

form .errors {
  margin: 5px 0 5px 0; }

.sidenav ul {
  margin: 0;
  padding: 0 0 0 10px; }
  .sidenav ul li {
    list-style: none;
    line-height: 25px; }
    .sidenav ul li a {
      color: #999; }

form #self_intro {
  height: 120px; }
form .set-avatar-btn {
  width: 284px;
  margin: 15px 0 0 0; }
form .control-group {
  margin: 0 0 15px !important; }
form .controls .avatar {
  -webkit-border-radius: first-value-of(3px) first-value-of(3px);
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  vertical-align: text-bottom; }
form .controls p {
  padding: 7px 0 0; }

.node-topics .ui-header, .blogs .ui-header {
  border-bottom: 1px solid #eee; }

.smart-code-support {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 13px;
  -moz-resize: vertical;
  -webkit-resize: vertical;
  resize: vertical; }

.alert a {
  color: #c09853; }

.notification-item {
  padding: 10px; }
  .notification-item .avatar {
    -webkit-border-radius: first-value-of(3px) first-value-of(3px);
    -moz-border-radius: 3px / 3px;
    border-radius: 3px / 3px;
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px; }
  .notification-item .main {
    padding: 0 0 0 60px; }
    .notification-item .main .title {
      font-size: 13px;
      display: block;
      margin: 0 0 5px 0;
      color: #999; }
      .notification-item .main .title a {
        color: #333;
        font-weight: bold; }
    .notification-item .main .meta {
      font-size: 12px;
      padding: 0 0 5px 0; }
      .notification-item .main .meta .username {
        font-weight: bold; }
      .notification-item .main .meta .time {
        color: #999;
        margin: 0 0 0 5px; }
    .notification-item .main .content {
      font-size: 13px;
      font-weight: normal;
      padding: 5px;
      background-color: #F5F5F5; }
      .notification-item .main .content h1, .notification-item .main .content h2, .notification-item .main .content h3, .notification-item .main .content h4, .notification-item .main .content h5,
      .notification-item .main .content blockquote p {
        font-size: 13px;
        line-height: 20px; }

.replies-lists {
  padding: 0; }
  .replies-lists .reply-item {
    font-size: 13px; }
    .replies-lists .reply-item .title {
      display: block;
      background: #eff6ff;
      line-height: 30px;
      padding: 3px 10px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f8f8f8));
      background-image: -webkit-linear-gradient(top, #e9e9e9, #f8f8f8);
      background-image: -moz-linear-gradient(top, #e9e9e9, #f8f8f8);
      background-image: -o-linear-gradient(top, #e9e9e9, #f8f8f8);
      background-image: linear-gradient(to bottom, #e9e9e9, #f8f8f8); }
    .replies-lists .reply-item .content {
      padding: 10px;
      line-height: 22px; }
      .replies-lists .reply-item .content h1, .replies-lists .reply-item .content h2, .replies-lists .reply-item .content h3, .replies-lists .reply-item .content h4, .replies-lists .reply-item .content h5,
      .replies-lists .reply-item .content blockquote p {
        font-size: 13px;
        line-height: 20px; }
      .replies-lists .reply-item .content iframe {
        max-height: 135px; }
  .replies-lists .ui-footer {
    border-top: 1px solid #eee;
    padding: 10px;
    font-size: 12px; }

.member-lists .member {
  display: inline-block;
  width: 60px;
  height: 50px;
  padding: 10px;
  text-align: center;
  margin: 5px 0 0 5px; }
  .member-lists .member .username {
    display: block;
    margin: 3px 0 0; }
    .member-lists .member .username a {
      color: #666;
      font-size: 12px; }
  .member-lists .member .avatar {
    -webkit-border-radius: first-value-of(3px) first-value-of(3px);
    -moz-border-radius: 3px / 3px;
    border-radius: 3px / 3px;
    width: 48px;
    height: 48px; }

.no-replies,
.no-topics,
.no-favorites {
  background: transparent;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px; }

p {
  margin: 0 !important; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.18); }

.codehilite pre {
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
  background: #f1f1f1;
  padding: 4.5px 8px; }

.pagination ul > li a, .pagination ul > li.disabled a:hover {
  color: #555;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  border-bottom: 1px solid #c5c5c5;
  margin-left: -1px; }
.pagination ul > li a:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #3072b3;
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -webkit-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
  background-repeat: repeat-x;
  border-color: #2a65a0; }
.pagination ul > li.active a, .pagination ul > li:active a:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-color: #9e9e9e;
  background-image: -moz-linear-gradient(#767676, #9e9e9e);
  background-image: -webkit-linear-gradient(#767676, #9e9e9e);
  background-image: linear-gradient(#767676, #9e9e9e);
  background-repeat: repeat-x;
  border-color: #686868; }

.topic-create form textarea,
.topic-reply-create form textarea {
  width: 100%;
  box-sizing: border-box; }

.topic-create form .input-prepend .add-on {
  display: none; }
.topic-create form .input-prepend input {
  width: 100%;
  box-sizing: border-box;
  -webkit-border-radius: first-value-of(4px) first-value-of(4px);
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px; }
