@charset "UTF-8";

@import 'compass/css3/border-radius';
@import 'compass/css3/box-sizing';
@import 'base/octicons';
@import "scut";

*, *:before, *:after {
  @include box-sizing(border-box);
}

body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
  background-color: #F3F0F1;
}

a {
  color: #999;
}

.btn-small {
  font-size: 12px;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1200px;
}

.messages {
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  text-align: center;
}

.top-navbar {
  font-size: 14px;
  position: relative;
  background-color: #EB4A31;
  padding-top: 4px;
  .navbar-inner {
    background-color: #CFCCCD;
    background-image: none;
    border: none;
    box-shadow: none;
    padding: 46px 0 30px;
    .nav a {
      padding: 5px 15px;
    }
    .nav > .active > a {
      background-color: #ffffff;
    }

  }
}

.shadow {
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px105px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container {
  overflow-y: hidden;
}

.page-header {
  padding: 0;
  margin: 0;
  background-color: #CFCCCD;
  border: none;
  .page-header-inner {
    background-color: #F3F0F1;
    .title {
      line-height: 30px;
      font-size: 15px;
      a {
        color: #000000;
      }
    }
  }

  .carousel {
    margin-bottom: 0;
    a {
      color: #ffffff;
    }
    img {
      width: 100%;
    }
    .item {
      height: 300px;
    }
  }
  .carousel-indicators {
    top: inherit;
    bottom: 15px;
    right: 30px;
  }

  .nav {
    margin-bottom: 0;
    li {
      margin-right: 24px;
      font-size: 15px;
      line-height: 30px;
    }
  }
  form {
    margin: 0;
  }

}

.page-main {
  background-color: #FBF8F9;
  padding: 24px;
  min-height: 480px;
}

.ui-header {
  border-bottom: 1px solid #CECBCC;
}

.ui-content {
  padding-top: 12px;
  padding-bottom: 12px;
}

.whats-new, .recent-blogs {
  padding: 24px 0 0;
}

.scrollable-calendar {
  padding: 0;
}

.topics {
  padding: 0;

  .topic-item {
    @extend %scut-clearfix;
    padding: 10px 40px 10px 10px;
    line-height: 12px;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 10px;
    @extend .shadow;

    .avatar {
      @include border-radius(3px, 3px);
      float: left;
      margin: 0 10px 0 0;
      width: 42px;
      height: 42px;
    }

    .title {
      font-size: 16px;
      font-weight: normal;
      line-height: 21px;
      color: #777;
      margin: 0 0 3px 0;
      letter-spacing: 0;
      text-shadow: 0 1px 0 #fff;

      a {
        color: #555;
      }
    }

    .meta {
      font-size: 12px;
      color: #a5a5a5;

      .node {
        @include border-radius(3px, 3px);
        display: inline-block;
        padding: 3px 4px;
        background: #eee;

        a {
          color: #a5a5a5;
        }
      }

      .username {
        font-weight: bold;
        color: #888;

        a {
          color: #888;
        }
      }

      .last-reply-username {
        strong {
          margin: 0 0 0 3px;
          color: #888;
        }
      }

      span {
        margin: 0 5px 0 2px;
      }
    }

    .count {
      @include border-radius(8px, 8px);
      position: absolute;
      right: 10px;
      top: 40%;
      background: #bbb;
      font-size: 13px;

      a {
        color: #fff;
        padding: 3px 8px;
        display: block;
        background: #b5bbcf;
        @include border-radius(8px, 8px);

        &:visited {
          background: #d5d5d5;
        }
      }
    }

    .main {
      padding: 0 0 0 45px;
    }
  }

  .pagination {
    margin: 13px 15px;
    float: right;

    a {
      color: #999;
      padding: 2px 9px;
    }
  }

  .ui-header {
    padding: 10px;

    .bread-nav {
      font-size: 14px;
      line-height: 27px;
    }
  }
}


.blogs {
  padding: 0;

  .blog-item {
    background-color: #ffffff;
    @extend %scut-clearfix;
    padding: 10px 40px 10px 10px;
    margin: 0 0 20px 0;
    line-height: 12px;
    position: relative;
    @extend .shadow;

    .cover {
      margin: -10px -40px 20px (-10px);
      img {
        width: 100%;
      }
    }

    .avatar {
      @include border-radius(3px, 3px);
      float: left;
      margin: 0 10px 0 0;
      width: 42px;
      height: 42px;
    }

    .title {
      font-size: 16px;
      font-weight: normal;
      line-height: 21px;
      color: #777;
      margin: 0 0 3px 0;
      letter-spacing: 0;
      text-shadow: 0 1px 0 #fff;

      a {
        color: #555;
      }
    }

    .meta {
      font-size: 12px;
      color: #a5a5a5;

      .username {
        font-weight: bold;
        color: #888;

        a {
          color: #888;
        }
      }

      .last-reply-username {
        strong {
          margin: 0 0 0 3px;
          color: #888;
        }
      }

      span {
        margin: 0 5px 0 2px;
      }
    }

    .count {
      @include border-radius(8px, 8px);
      position: absolute;
      right: 10px;
      top: 10px;
      background: #bbb;
      font-size: 13px;

      a {
        color: #fff;
        padding: 3px 8px;
        display: block;
        background: #b5bbcf;
        @include border-radius(8px, 8px);

        &:visited {
          background: #d5d5d5;
        }
      }
    }

    .main {
      padding: 0 0 0 45px;
    }

    .summary {
      padding: 20px 0;
      line-height: 18px;
    }

    .read-more {
      margin-bottom: 10px;
    }
  }

  .pagination {
    margin: 13px 15px;
    float: right;

    a {
      color: #999;
      padding: 2px 9px;
    }
  }

  .ui-header {
    padding: 10px;

    .bread-nav {
      font-size: 14px;
      line-height: 27px;
    }
  }
}

.usercard {
  padding: 0;

  .ui-header {
    line-height: 25px;

    .avatar {
      @include border-radius(3px, 3px);
      float: left;
      margin-right: 10px;
      width: 48px;
      height: 48px;
    }

    .username {
      font-size: 18px;
      line-height: 40px;
    }
  }

  .member-stats {
    padding-top: 24px;
    .status {
      width: 33%;
      float: left;
      margin-bottom: 10px;
      text-align: center;
      border-right: 1px solid #eee;
      line-height: 18px;
      font-size: 12px;

      &:last-child {
        border: 0;
      }
      strong {
        display: block;
        font-size: 16px;
        padding-bottom: 4px;
        color: #888
      }
    }

    a {
      color: #a5a5a5;
      text-decoration: none;
      display: block;
    }
  }
}

.nodes-cloud {
  padding: 0;

  .title {
    font-size: 13px;
    line-height: 12px;
    color: #333;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    padding-left: 30px;
    text-shadow: 0 1px 0 #fff;
  }

  ul {
    margin: 0;
    text-shadow: 0 1px 0 #fff;

    li {
      list-style: none;
      border-bottom: 1px solid #eee;
      padding: 7px 10px 7px 0;
      line-height: 24px;

      &:last-child {
        border: 0;
      }

      label {
        cursor: default;
        font-weight: bold;
        float: left;
        text-align: right;
        width: 60px;
        line-height: 24px;
        font-size: 13px;
      }

      .nodes {
        display: block;
        padding: 0 0 0 80px;

        a {
          color: #666;
          font-size: 13px;
          margin: 0 5px;
        }
      }
    }
  }
}

.footer {
  line-height: 20px;
  background: #F3F0F1;

  .footer-bg {
    background: #3F4C53;
    padding: 24px;
    color: #ffffff;

    a {
      color: #999;
    }

    .fade-color {
      color: #ccc;
    }
  }
}

.hot-nodes {
  a {
    @include border-radius(2px, 2px);
    display: inline-block;
    padding: 1px 5px;
    margin: 3px 0;
    background: #f3f3f3;
    color: #999;
    font-size: 12px;
    border: 1px solid #e5e5e5;
    text-shadow: 0 1px 0 #fff;
  }
}

.central-banks {
  a {
    color: #000000;
  }
  table {
    line-height: 2.2;
  }
  thead {
    border-bottom: 2px solid #ccc;
  }
  tbody tr {
    font-size: 12px;
    border-bottom: 1px solid #ccc;
  }
}

.community-status {
  dl {
    @extend %scut-clearfix;
    margin: 5px 0 5px 0;

    dt {
      float: left;
      width: 56px;
      text-align: right;
    }

    dd {
      padding: 0 0 0 60px;
    }
  }
}

.topic-lists {
  padding: 0;

  .ui-footer {
    padding: 10px;
    font-size: 12px;
  }
}

.user-page {
  .profile {
    @extend .usercard;
    padding: 10px;
    background-color: #ffffff;

    .ui-header {
      position: relative;
    }

    .ui-content {
      padding: 15px;
    }

    .follow {
      position: absolute;
      right: 20px;
      top: 15px;
    }

    dl {
      @extend %scut-clearfix;
      margin: 5px 0 5px 0;

      dt {
        float: left;
        width: 50px;
        text-align: right;
        font-weight: normal;
      }

      dd {
        padding: 0 0 0 60px;
      }
    }
  }

  .project-lists {
    ul {
      margin: 0;
      padding: 10px 1px 0 1px;

      li {
        list-style: none;

        .title {
          a {
            color: #333;
            font-weight: bold;
          }
        }

        .desc {
          color: #888;
        }
      }
    }
  }

  .self-introduction {
    .ui-content {
      padding: 10px 0 5px 0;
      line-height: 25px;
    }
  }

  .book-lists {
    table a img {
      max-width: 73px;
    }
  }
}

.topic-detail {
  padding: 0;

  .ui-header {
    @extend %scut-clearfix;
    border-bottom: 1px solid #eee;
    padding: 10px;

    .avatar {
      float: right;
      @include border-radius(3px, 3px);
    }

    .title {
      border: 0;
      padding: 0;
      font-weight: normal;
    }
  }

  .ui-content {
    padding: 15px 10px 10px 10px;
    font-size: 14px;
    line-height: 25px;

    .cover {
      margin: -15px -10px 10px (-10px);
    }
    .gist {
      .gist-file {
        @include border-radius(3px, 3px);
      }
    }

    h1, h2, h3, h4, h5,
    blockquote p {
      font-size: 13px;
      line-height: 20px;
    }

    p {
      margin: 0 0 10px 0 !important;
    }

    ul > li,
    ol > li {
      line-height: 22px;

      p {
        margin: 0 !important;
      }
    }

    iframe {
      max-height: 195px;
    }
  }

  .ui-footer {
    @extend %scut-clearfix;
    background: #F3F0F1;
    padding: 5px 10px;
    border-top: 1px solid #eee;

    color: #666;
    font-size: 12px;
    text-shadow: 0px 1px 0px #fff;

    a {
      color: #333;
      font-size: 12px;
      text-shadow: 0px 1px 0px #fff;
    }
  }
}

.topic-reply {
  padding: 0;

  .ui-header {
    @include border-radius(5px, 5px 5px 0 0);
    padding: 7px 10px;
    color: #999;
    border-bottom: 1px solid #eee;
    font-size: 12px;
  }

  .ui-content {

    padding: 0 10px;

    .reply-item {
      @extend %scut-clearfix;
      border-bottom: 1px solid #eee;
      padding: 10px 0;

      &:last-child {
        border-bottom: 0;
      }

      .avatar {
        @include border-radius(3px, 3px);
        float: left;
        margin-right: 10px;
        width: 48px;
        height: 48px;
      }

      .main {
        padding: 0 0 0 60px;

        .meta {
          font-size: 12px;
          padding: 0 0 5px 0;

          .username {
            font-weight: bold;
          }

          .time {
            color: #999;
            margin: 0 0 0 5px;
          }

          .reply-username {
            color: #333;
          }

          .reply-to {
            margin: 0 5px 0 0;
            cursor: pointer;

            img {
              vertical-align: text-bottom;
            }
          }

          .floor {
            color: #999;
          }
        }

        .content {
          font-size: 14px;
          font-weight: normal;
          line-height: 22px;

          h1, h2, h3, h4, h5,
          blockquote p {
            font-size: 13px;
            line-height: 20px;
          }

          iframe {
            max-height: 135px;
          }
        }
      }
    }

    .gist {
      .gist-file {
        @include border-radius(3px, 3px);
      }
    }
  }

  .ui-footer {
    .pagination {

      margin: 5px 15px 10px 10px;
      float: right;

      a {
        color: #999;
      }
    }
  }
}

.sidebox {
  margin: 24px 0;
  .ui-header {
    padding: 10px 10px 0;
  }

  .ui-content {
    line-height: 23px;
  }
}

.topic-create {
  form {
    .span11 {
      width: 622px;
    }

    textarea {
      width: 635px;
      height: 430px;
    }
  }
}

.topic-reply-create {
  form {
    margin: 0;

    textarea {
      width: 635px;
      height: 230px;
    }
  }
  .ui-header {
    border: none;
    padding-bottom: 3px;
  }
  .ui-content {
    //padding: 10px 0;
    padding: 5px 0 0;
  }

}

.errors {
  margin: 0 0 25px 0;
}

form .errors {
  margin: 5px 0 5px 0;
}

.sidenav {
  ul {
    margin: 0;
    padding: 0 0 0 10px;

    li {
      list-style: none;
      line-height: 25px;

      a {
        color: #999;
      }
    }
  }
}

form {
  #self_intro {
    height: 120px;
  }

  .set-avatar-btn {
    width: 284px;
    margin: 15px 0 0 0;
  }

  .control-group {
    margin: 0 0 15px !important;
  }

  .controls {
    .avatar {
      @include border-radius(3px, 3px);
      vertical-align: text-bottom;
    }

    p {
      padding: 7px 0 0;
    }
  }
}

.node-topics, .blogs {
  .ui-header {
    border-bottom: 1px solid #eee;
  }
}

.smart-code-support {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 13px;
  -moz-resize: vertical;
  -webkit-resize: vertical;
  resize: vertical;
}

.alert {
  a {
    color: #c09853;
  }
}

.notification-item {
  @extend %scut-clearfix;
  padding: 10px;

  .avatar {
    @include border-radius(3px, 3px);
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px;
  }

  .main {
    padding: 0 0 0 60px;

    .title {
      font-size: 13px;
      display: block;
      margin: 0 0 5px 0;
      color: #999;

      a {
        color: #333;
        font-weight: bold;
      }
    }

    .meta {
      font-size: 12px;
      padding: 0 0 5px 0;

      .username {
        font-weight: bold;
      }

      .time {
        color: #999;
        margin: 0 0 0 5px;
      }
    }

    .content {
      font-size: 13px;
      font-weight: normal;
      padding: 5px;
      background-color: #F5F5F5;

      h1, h2, h3, h4, h5,
      blockquote p {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}

.replies-lists {
  padding: 0;

  .reply-item {
    font-size: 13px;

    .title {
      display: block;
      background: #eff6ff;
      line-height: 30px;
      padding: 3px 10px;

      background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f8f8f8));
      background-image: -webkit-linear-gradient(top, #e9e9e9, #f8f8f8);
      background-image: -moz-linear-gradient(top, #e9e9e9, #f8f8f8);
      background-image: -o-linear-gradient(top, #e9e9e9, #f8f8f8);
      background-image: linear-gradient(to bottom, #e9e9e9, #f8f8f8);
    }

    .content {
      padding: 10px;
      line-height: 22px;

      h1, h2, h3, h4, h5,
      blockquote p {
        font-size: 13px;
        line-height: 20px;
      }

      iframe {
        max-height: 135px;
      }
    }
  }

  .ui-footer {
    border-top: 1px solid #eee;
    padding: 10px;
    font-size: 12px;
  }
}

.member-lists {
  .member {
    display: inline-block;
    width: 60px;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin: 5px 0 0 5px;

    .username {
      display: block;
      margin: 3px 0 0;

      a {
        color: #666;
        font-size: 12px;
      }
    }

    .avatar {
      @include border-radius(3px, 3px);
      width: 48px;
      height: 48px;
    }
  }
}

.no-replies,
.no-topics,
.no-favorites {
  background: transparent;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
}

p {
  margin: 0 !important;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.18);
}

.codehilite {
  pre {
    -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
    background: #f1f1f1;
    padding: 4.5px 8px;
  }
}

// 分页 - PAGINATION

.pagination {
  ul > li {
    a,
    &.disabled a:hover {
      color: #555;
      font-size: 13px;
      text-decoration: none;
      text-shadow: 0 1px 0 #fff;
      background-color: #eaeaea;
      background-image: -moz-linear-gradient(#fafafa, #eaeaea);
      background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
      background-image: linear-gradient(#fafafa, #eaeaea);
      background-repeat: repeat-x;
      border: 1px solid #ddd;
      border-bottom: 1px solid #c5c5c5;
      margin-left: -1px;
    }

    a:hover {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
      background-color: #3072b3;
      background-image: -moz-linear-gradient(#599bdc, #3072b3);
      background-image: -webkit-linear-gradient(#599bdc, #3072b3);
      background-image: linear-gradient(#599bdc, #3072b3);
      background-repeat: repeat-x;
      border-color: #2a65a0;
    }

    &.active a,
    &:active a:hover {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
      background-color: #9e9e9e;
      background-image: -moz-linear-gradient(#767676, #9e9e9e);
      background-image: -webkit-linear-gradient(#767676, #9e9e9e);
      background-image: linear-gradient(#767676, #9e9e9e);
      background-repeat: repeat-x;
      border-color: #686868;
    }
  }
}


.topic-create form textarea,
.topic-reply-create form textarea {
  width: 100%;
  box-sizing: border-box;
}

.topic-create form .input-prepend {
  .add-on {
    display: none;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    @include border-radius(4px, 4px);
  }
}


.simple-topics {
  font-size: 14px;
  .topic-item {
    @extend %scut-clearfix;
    margin-bottom: 10px;
  }
  .avatar {
    float: left;
    margin-right: 10px;
  }
  .title {
    float: left;
    line-height: 32px;
  }
}


.events {
  thead tr {
    background-color: #CFCCCD;
  }
  tbody tr {
    border-bottom: 1px solid #CECBCC;
    &:hover {
      background-color: #edf4fa;
    }
  }
  .txtNum0, .txtNum1, .txtNum2, .txtNum3 {
    background-position: 0 0;
    vertical-align: middle;
    width: 52px;
    height: 12px;
    display: inline-block;
    background-image: url("/static/images/text_num.png");
  }
  .txtNum1 {
    background-position: 0 -18px;
  }
  .txtNum2 {
    background-position: 0 -36px;
  }
  .txtNum3 {
    background-position: 0 -54px;
  }
}

.scrollable-calendar {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding: 5px 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      background-color: #ffffff;
      display: inline-block;
    }
  }
}

.sidebox.placeholder {
  height: 11px;
}