{% extends 'common/layout.html' %}

{% block sidebar %}
{% if user.is_authenticated() %}
<div class="usercard container-box">
    <div class="ui-header">
        <a href="{{ url('user', user.get_username()) }}">
            <img src="{{ user.profile.avatar.small.url }}" alt="{{ user.get_username() }}"
                 class="avatar"/>
        </a>

        <div class="username">{{ user.get_username() }}</div>
    </div>
    <div class="ui-content">
        <div class="status status-topic">
            <strong><a href="/topics">{{ user.topic_set.count() }}</a></strong> 主题
        </div>
        <div class="status status-reply">
            <strong><a href="replies">{{ user.reply_set.count() }}</a></strong> 回复
        </div>
        <div class="status status-favorite">
            <strong><a href="favourites">{{ 0 }}</a></strong> 收藏
        </div>
        <div class="status status-reputation">
            <strong>{{ user.profile.reputation or 0 }}</strong> 威望
        </div>
    </div>
</div>
    {% if 0 %}
    <div class="alert mt10 mb10">
                    <span>
                        <a href="/notifications">{{ user.get_username() }}，你有{{
                            user.notification_set.count() }}条未读提醒，去看看吧</a>
                    </span>
    </div>
    {% endif %}
{% else %}
<div class="login-box container-box">
    <div class="ui-content tc">
        <a class="btn btn-small mr10" type="button" href="{{url('login')}}">登录</a>
        <a class="btn btn-small mr10" type="button" href="{{url('register')}}">注册</a>
        <a class="btn btn-small" type="button" href="{{url('password_reset')}}">找回密码</a>
    </div>
</div>
{% endif %}

{% endblock %}
