{% extends 'common/layout.html' %}

{% block sidebar %}
{% if user.is_authenticated() %}
<div class="usercard white-bg shadow">
    <div class="ui-header p10">
        <div class="vc clearfix">
            <a href="{{ url('user', user.get_username()) }}">
                <img src="{{ user.avatar.small.url }}" alt="{{ user.get_username() }}"
                     class="avatar"/>
            </a>

            <div class="username vc-inner"><a href="{{ url('user', user.username) }}">{{ user.get_username() }}</a></div>
        </div>
        <div class="member-stats clearfix">
            <div class="status status-collects">
                <a href="{{ url('my_nodes') }}"><strong>{{ user.n_collects }}</strong> 节点收藏</a>
            </div>
            <div class="status status-favourites">
                <a href="{{ url('my_topics') }}"><strong>{{ user.n_favourites }}</strong> 主题收藏</a>
            </div>
            <div class="status status-followings">
                <a href="{{ url('my_followings') }}"><strong>{{ user.n_followings }}</strong> 特别关注</a>
            </div>
        </div>
    </div>

    {% if user.is_authenticated() %}
    <div class="ui-content p10">
        <a href="{{ url('notifications') }}">{{ user.unread_notifications().count() }} 条未读提醒</a>
    </div>
    {% endif %}
</div>
    {% if 0 %}
    <div class="alert mt10 mb10">
    <span>
        <a href="/notifications">{{ user.get_username() }}，你有{{
            user.notification_set.count() }}条未读提醒，去看看吧</a>
    </span>
    </div>
    {% endif %}
{% else %}
<div class="login-box white-bg shadow">
    <div class="ui-content tc">
        <a class="btn btn-small mr10" type="button" href="{{url('login')}}">登录</a>
        <a class="btn btn-small mr10" type="button" href="{{url('register')}}">注册</a>
        <a class="btn btn-small" type="button" href="{{url('password_reset')}}">找回密码</a>
    </div>
</div>
{% endif %}

{% endblock %}
