{% extends 'common/content_layout.html' %}
{% import 'common/topics.html' as topics_util %}
{% import 'common/blogs.html' as blogs_util %}

{% block header %}
<div class="row-fluid">
    <div class="span7">
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
              {% for i in sticks %}
                <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active {% endif %}"></li>
              {% endfor %}
          </ol>
            <div class="carousel-inner">
                {% for b in sticks %}
                  <div class="item {% if loop.first %}active{% endif %}">
                    <a href="{{ b.get_absolute_url() }}"><img src="{{ b.cover.thumb.url }}" alt=""></a>
                    <div class="carousel-caption">
                      <h4><a href="{{ b.get_absolute_url() }}">{{ b.title }}</a></h4>
                      <p>{{ b.content|truncate(70, True) }}</p>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="span5"></div>
</div>
{% endblock %}


{% block top %}
<div class="scrollable-calendar">
    <div class="ui-header sep">滚动日历</div>
    <div class="ui-content">

    </div>
</div>
{% endblock %}


{% block main %}
    <div class="whats-new">
        <div class="ui-header sep">
            热门主题
        </div>
        <div class="ui-content">
            <div class="topics">
                {{ topics_util.topics(new) }}
            </div>
        </div>
    </div>

    <div class="recent-blogs">
        <div class="ui-header sep">
            信息要闻
        </div>
        <div class="ui-content">
            <div class="blogs">
                {{ blogs_util.blogs(blogs) }}
            </div>
        </div>
    </div>
{% endblock %}
