<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>{% block title %}F2E - 前端技术社区{% endblock %}</title>
    <script type="text/javascript" src="/static/js/base/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/base/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/base/in-min.js"></script>
    <script type="text/javascript" src="/static/js/base/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css"/>
    {% compressed_css 'main' %}
    <link rel="apple-touch-icon" href="/static/images/f2e.im.icon.png">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top top-navbar">
    <div class="navbar-inner">

    </div>
</div>

<div class="container-fluid container mt15">
    {{ messages|dump_messages }}
    {% if form %}
        {{form.errors|dump_errors}}
    {% endif %}
    {% block messages %}

    {% endblock %}

    <div class="row-fluid">
        <div class="span9 left">
            {% block main %}{% endblock %}
        </div>

        <div class="span3 right">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
</div>

{% include 'common/footer.html' %}

</body>
</html>
