<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>{% block title %}F2E - 前端技术社区{% endblock %}</title>
    <script type="text/javascript" src="/static/js/base/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/base/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/base/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

    <!-- include summernote css/js-->
    <link rel="stylesheet" href="/static/css/summernote.css" />
    <script type="text/javascript" src="/static/js/base/summernote.js"></script>
    {% compressed_css 'main' %}
    <link rel="apple-touch-icon" href="/static/images/f2e.im.icon.png">
    <script>
        $(document).ready(function() {
            $('textarea').summernote({
                height: 200,
                toolbar: [
                    //['style', ['style']], // no style button
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['fontsize', ['fontsize']],
                    // ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    //['height', ['height']],
                    ['insert', ['picture', 'link']]
                    //['table', ['table']], // no table button
                    //['help', ['help']] //no help button
                ]
            });
        });
    </script>
    {% block stylesheet %}{% endblock %}
    {% block javascript %}{% endblock %}

    <script type="text/javascript">
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    var csrftoken = $.cookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        jQuery(document).ready(function () {
            $('.J_search').submit(function (e) {
                var _node = $(this);
                var query = _node.find('input').val();
                e.preventDefault();
                window.open('http://www.google.com/search?q=site:f2e.im/t%20' + query, "_blank");
            });
        });
    </script>
</head>
<body>


<div class="navbar navbar-fixed-top top-navbar">
    <div class="navbar-inner">
        <div class="container container-fluid">
            <div class="messages">
                {{ messages|dump_messages }}
                {% if form %}
                    {{form.errors|dump_errors}}
                {% endif %}
            </div>

            <div class="brand">
                <img src="" alt="" width="170" height="54"/>
            </div>
            <ul class="nav pull-right">
                <li class="{% if tab=='index' %}active{% endif %}">
                    <a href="{{ url('index') }}">首页</a>
                </li>
                <li class="{% if tab=='forum' %}active{% endif %}">
                    <a href="{{ url('topic_list') }}">论坛</a>
                </li>
                <li class="{% if tab=='blog' %}active{% endif %}">
                    <a href="{{ url('blog_list') }}">博客</a>
                </li>
                <li class="{% if tab=='stats' %}active{% endif %}">
                    <a href="">指标</a>
                </li>
                <li class="{% if tab=='calendar' %}active{% endif %}">
                    <a href="{{ url('calendar') }}">最新日历</a>
                </li>
                {% if not user.is_authenticated() %}
                <li>
                    <a href="{{ url('register') }}" rel="nofollow">注册</a>
                </li>
                <li>
                    <a href="{{ url('login') }}" rel="nofollow">登录</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url('logout') }}" rel="nofollow">退出</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


<div class="page-header">
    <div class="container container-fluid">
        <div class="page-header-inner shadow">
            {% block header %}
                <div class="container-fluid p24 pt10 pb10">
                    <div class="row-fluid pr">
                        <div class="span8 left-block">
                            {% block header_left %}{% endblock %}
                        </div>
                        <div class="span4 right-block">
                            <form action="" class="form-search J_search">
                                <input type="search" class="input-medium search-query"/>
                                <input type="submit" value="搜索" class="btn"/>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>

<div class="container-fluid container">
    <div class="page-main shadow">
        {% block top%}{% endblock %}
        <div class="row-fluid">
            <div class="span8 left-block">
            {% block main %}{% endblock %}
            </div>

            <div class="span4 right-block">
            {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% include 'common/footer.html' %}

</body>
</html>
