{% extends 'common/content_layout.html' %}
{% import 'common/blogs.html' as blogs_util %}

{% block header_left %}
    <div class="title">
        {% if user.is_superuser %}
        <span class="fr f12">
            <a class="btn btn-small" type="button" href="{{ url('new_blog') }}">创建</a>
        </span>
        {% endif %}
        <div class="bread-nav">
            <a href="{{ url('index') }}">首页</a> › 信息要闻
        </div>
    </div>
{% endblock %}
{% block main %}
<div class="blogs">
    {{ blogs_util.blogs(object_list) }}

    {% if paginator.count == 0 %}
    <div class="pl10 pr10">
        <div class="alert mt20 no-topics">
            暂时还没有文章。
        </div>
    </div>
    {% endif %}

</div>

<div class="clearfix">
    <div class="fr">
        {{ page_obj|paginate }}
    </div>
</div>

{% endblock %}

