{% extends 'common/content_layout.html' %}

{% block title %}
{{ blog.title }} - F2E
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.J_replyTo').click(function (e) {
            username = $(this).attr('data-username');
            replyContent = $('.J_replyContent');
            oldContent = replyContent.val();
            prefix = "@" + username + " ";
            newContent = '';
            if (oldContent.length > 0) {
                if (oldContent != prefix) {
                    newContent = oldContent + "\n" + prefix;
                }
            } else {
                newContent = prefix;
            }
            replyContent.focus();
            replyContent.val(newContent);
        });

        $('.J_replyContent').keydown(function (e) {
            if ((e.ctrlKey || e.metaKey) && e.which === 13) {
                e.preventDefault();
                $(e.currentTarget).parent('form').submit();
            }
        });

        $('.J_stick').click(function (e) {
            var _node = $(this),
                _type = _node.data('type'),
                stick_url = _node.data('stick-url'),
                unstick_url = _node.data('unstick-url');

            e.preventDefault();
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: eval(_type+'_url')
            }).done(function(resp) {
                if (_type === 'stick') {
                    _node.data('type', 'unstick');
                    _node.html('取消置顶');
                }

                if (_type === 'unstick') {
                    _node.data('type', 'stick');
                    _node.html('置顶到首页');
                }
            }).fail(function(resp) {
                if (resp.errors) {
                    alert(resp.errors[0].message);
                }
            });
        });
    });
</script>
{% endblock %}

{% block header_left %}
    <div class="title">
        <div class="bread-nav">
            <a href="{{ url('index') }}">首页</a> › <a href="{{ url('blog_list') }}">信息要闻</a> › {{ blog.title|truncate(20, True) }}
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="topic-detail shadow white-bg">
    <div class="ui-header">
        <a href="{{ blog.author.get_absolute_url() }}">
            <img src="{{ blog.author.avatar.medium.url }}" width="73" height="73"
                 class="avatar"/>
        </a>

        <div class="main">
            <h2 class="title">{{ blog.title }}</h2>

            <div class="meta">
                <span class="username">
                    <a href="{{ blog.author.get_absolute_url() }}">{{ blog.author.username }}</a>
                </span>
                {%
                set latest_comment = blog.comment_set.last()
                -%}
                {% if latest_comment %}
                <span class="created-time">发表于 {{ blog.created|human_date }}</span> •
                        <span class="last-reply-username">最后评论来自
                            <a href="{{ latest_comment.author.get_absolute_url() }}">
                                <strong>{{ latest_comment.author.username }}</strong>
                            </a>
                        </span> •
                <span class="last-reply-time">{{ latest_comment.created|human_date }}</span>
                {% else %}
                <span class="created-time">发表于 {{ blog.created|human_date }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="ui-content">
        <div class="cover">
            <img src="{{ blog.cover.url }}" width="648">
        </div>
        {{ blog.content|markdown|content_process|safe }}
    </div>
    <div class="ui-footer">
        <a href="#" class="mr15"
           onclick="window.open('http://service.weibo.com/share/share.php?url={{ request.build_absolute_uri(blog.get_absolute_url()) }}&title=F2E%20-%20{{ blog.title }}', '_blank', 'width=550, height=370');">
            新浪微博</a>

        {% if user.is_superuser %}
            {% if blog.sticked() %}
            <a href="javascript:void(0);" rel="nofollow" class="J_stick" data-type="unstick"
               data-stick-url="{{ url('blog_stick', blog.id) }}"
               data-unstick-url="{{ url('blog_unstick', blog.id) }}"
                    >取消置顶</a>
            {% else %}
               <a href="javascript:void(0);" rel="nofollow" class="J_stick" data-type="stick"
               data-stick-url="{{ url('blog_stick', blog.id) }}"
               data-unstick-url="{{ url('blog_unstick', blog.id) }}"
                    >置顶到首页</a>
            {% endif %}
        {% endif %}

        {% if blog.created_by(user) %}
        <a href="/t/edit/{{ blog.id }}" class="fr ml15">编辑</a>
        {% endif %}
        <span class="hits fr">{{ blog.n_hits }} 次点击</span>
    </div>
</div>

{% set comments_count = paginator.count%}
{% if comments_count %}
<div class="topic-reply white-bg shadow mt10">
    <div class="ui-header">
        <span>{{ comments_count }}&nbsp;条评论&nbsp;|&nbsp;直到&nbsp;{{ latest_comment.created|datetime }}</span>
    </div>
    <div class="ui-content">
        {% set floor = page_obj.start_index() %}
        {% for comment in object_list %}
        <div class="reply-item">
            <a href="{{ comment.author.get_absolute_url() }}">
                <img src="{{ comment.author.avatar.small.url }}" alt=""
                     class="avatar"/>
            </a>

            <div class="main">
                <div class="meta">
                    <a href="{{ comment.author.get_absolute_url() }}" class="reply-username">
                        <span class="username">{{ comment.author.username }}</span>
                    </a>
                    <span class="time">{{ comment.created|human_date }}</span>
                    <div class="fr">
                        <span class="reply-to J_replyTo" data-username="{{ comment.author.username }}">
                            <img src="/static/images/reply.png" alt=""/>
                        </span>
                        <span class="floor">#{{ floor + loop.index0 }}</span>
                    </div>
                </div>
                <span class="content">{{ comment.content|markdown|content_process|safe }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="clearfix">
    <div class="fr">
        {{page_obj|paginate}}
    </div>
</div>

{% else %}
<div class="alert mt20 no-replies">
    暂无评论，说出你的观点吧
</div>
{% endif %}

<div class="topic-reply-create white-bg shadow p10 mt10" id="replyform">
    {% if user.is_authenticated() %}
    <div class="ui-header">
        <span class="title">创建新的评论</span>
    </div>
    <div class="ui-content">
        <form class="mt10" action="{{url('comment', blog.id)}}" method="post">

            <textarea rows="3" class="content mt5 smart-code-support J_replyContent" placeholder="评论内容"
                      name="content"></textarea>
            <input type="submit" id="checkall" class="btn btn-small mt5" value="添加评论">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        </form>
    </div>
    {% else %}
    <div class="ui-header">
        <span class="title">登录后即可评论</span>
    </div>
    <div class="ui-content">
        <a class="btn btn-small mt5 mr10" type="button" href="{{ url('login') }}">登录</a>
        <a class="btn btn-small mt5" type="button" href="{{ url('register') }}">注册</a>
    </div>
    {% endif %}
</div>
{% endblock %}
