{% extends 'common/content_layout.html' %}
{% import 'common/topics.html' as topics_util %}

{% block javascript %}
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.J_nodeCollect').click(function (e) {
            var _node = $(this),
                _type = _node.data('type'),
                collect_url = _node.data('collect-url'),
                uncollect_url = _node.data('uncollect-url');

            e.preventDefault();
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: eval(_type+'_url')
            }).done(function(resp) {
                if (_type === 'collect') {
                    _node.data('type', 'uncollect');
                    _node.html('取消收藏');
                }

                if (_type === 'uncollect') {
                    _node.data('type', 'collect');
                    _node.html('加入收藏');
                }
            }).fail(function(resp) {
                if (resp.errors) {
                    alert(resp.errors[0].message);
                }
            });
        });
    });
</script>
{% endblock %}

{% block header_left %}
<div class="clearfix">
    <div class="title">
        <span class="fr f12">
            <span class="fr ml10"><a class="btn btn-small" type="button" href="{{ url('new_topic', node.slug) }}">创建新主题</a></span>
            {% if user.is_authenticated() %}
                {% if not node.collected_by(user) %}
                <a href="javascript:void(0)" class="c6 J_nodeCollect" data-type="collect"
                        data-collect-url="{{ url('node_collect', node.slug) }}"
                        data-uncollect-url="{{ url('node_uncollect', node.slug) }}">加入收藏</a>
                {% else %}
                <a href="javascript:void(0)" class="c6 J_nodeCollect" data-type="uncollect"
                        data-collect-url="{{ url('node_collect', node.slug) }}"
                        data-uncollect-url="{{ url('node_uncollect', node.slug) }}">取消收藏</a>
                {% endif %}
            {% endif %}
        </span>
        <span class="bread-nav">F2E › {{ node.name }}</span><br>
    </div>
</div>
{% endblock %}

{% block main %}

<div class="topics node-topics">
    {{ topics_util.topics(page.object_list) }}

    {% if page.paginator.count == 0 %}
    <div class="pl10 pr10">
        <div class="alert mt20 no-topics">
            该结点下暂时还没有主题，发出你的讨论吧。
        </div>
    </div>
    {% endif %}
</div>

<div class="clearfix">
    <div class="fr">
      {{ page|paginate }}
    </div>
</div>
{% endblock %}

