{% extends 'common/layout.html' %}

{% block header_left %}
    <div class="title">登录</div>
{% endblock %}

{% block main %}
<div class="">
    {% if user.is_authenticated() %}
    你已经登录了，<a href="{{ url('index') }}">返回首页</a>
    {% else %}
    <form class="form-horizontal" action='' method="POST">
        <fieldset>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="{{form.username.id_for_label}}">用户名</label>

                <div class="controls">
                    {{ form.username|css('input-xlarge') }}

                    <p class="help-block">请输入您的用户名 (由字母开头，只能含有字母、数字或者下划线)</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="{{form.password.id_for_label}}">密码</label>

                <div class="controls">
                    {{ form.password|css('input-xlarge') }}

                    <p class="help-block">请输入您的密码（不少于4个字符）</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn">登录</button>
                    <a href="{{ url('register') }}" class="ml10 mr10 btn">注册账号</a>
                    <a href="{{url('password_reset')}}" class="btn">忘记密码了</a>
                </div>
            </div>
        </fieldset>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        <input type="hidden" name="next" value="{{ url('index') }}"/>
    </form>
    {% endif %}
</div>
{% endblock %}

