{% extends 'common/layout.html' %}

{% block header_left %}
    <div class="title">
        <div class="bread-nav">
            <a href="{{ url('index') }}">首页</a> › 登录
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="">
    {% if user.is_authenticated() %}
    你已经登录了，<a href="{{ url('index') }}">返回首页</a>
    {% else %}
    <form class="form-horizontal" action='' method="POST">
        <fieldset>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="{{form.username.id_for_label}}">用户名</label>

                <div class="controls">
                    {{ form.username|css('input-xlarge') }}

                    <p class="help-block">请输入您的用户名</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="{{form.password.id_for_label}}">密码</label>

                <div class="controls">
                    {{ form.password|css('input-xlarge') }}

                    <p class="help-block">请输入您的密码（不少于4个字符）</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn">登录</button>
                    <a href="{{ url('register') }}" class="ml10 mr10 btn">注册账号</a>
                    <a href="{{url('password_reset')}}" class="btn">忘记密码了</a>
                </div>
            </div>
        </fieldset>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER or url('index') }}"/>

    </form>

    <div class="social-login mt30">
    {% for s in social_sites.list_sites_class() %}
        {% set site = social_sites.get_site_object_by_class(s) %}
        {% set auth_url = site.authorize_url  %}
        <a href="{{ auth_url }}" rel="nofollow" class="login-button {{ site.site_name }}">{{ site.site_name_zh }}登陆</a>
    {% endfor %}
    </div>

    {% endif %}
</div>
{% endblock %}

