{% extends 'common/layout.html' %}

{% block header_left %}
    <div class="title">
        <div class="bread-nav">
            <a href="{{ url('index') }}">首页</a> › 重置密码
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="container-box">
    <form class="form-horizontal" action='' method="POST">
        <fieldset>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>

                <div class="controls">
                    <input type="text" name="email" class="input-xlarge">
                    <p class="help-block">请输入你的E-mail来重置密码</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn">发送邮件</button>
                </div>
            </div>
        </fieldset>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
    </form>
</div>
{% endblock %}
