{% extends 'common/layout.html' %}

{% block main %}
<div class="container-box">
    <form class="form-horizontal" action='' method="POST">
        <fieldset>
            <div id="legend" class="mb50">
                <legend class="">重置密码</legend>
                {% if form.errors %}
                <ul class="errors alert alert-error">
                    {% for errs in form.errors.values() %}
                        {% for err in errs %}
                        <li>{{ err }}</li>
                        {%endfor%}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>

                <div class="controls">
                    <input type="text" name="email" class="input-xlarge">
                    <p class="help-block">请输入你的E-mail来重置密码</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">找回密码</button>
                </div>
            </div>
        </fieldset>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
    </form>
</div>
{% endblock %}
