{% extends 'common/layout.html' %}

{% block main %}
<div class="container-box">
    {% if validlink %}
    <form class="form-horizontal" action='' method="POST">
        <fieldset>
            <div id="legend">
                <legend class="">新密码设置</legend>
                {% if form.errors %}
                <ul class="errors alert alert-error">
                    {% for field, errs in form.errors.items() %}
                        {% for err in errs %}
                        <li>{{ err }}</li>
                        {%endfor%}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">新密码</label>

                <div class="controls">
                    <input type="password" id="password" name="new_password1" class="input-xlarge">

                    <p class="help-block">密码不少于4个字符</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label" for="password_confirm">新密码（确认）</label>

                <div class="controls">
                    <input type="password" id="password_confirm" name="new_password2" placeholder=""
                           class="input-xlarge">

                    <p class="help-block">请再次输入新密码</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">修改密码</button>
                </div>
            </div>
        </fieldset>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

    </form>
    {% else %}
    邮件已过期，<a href="{{url('password_reset')}}">重新发送邮件</a>
    {% endif %}
</div>
{% endblock %}
