{% extends 'common/layout.html' %}

{% block header_left %}
    <div class="title">重置密码</div>
{% endblock %}

{% block main %}
<div class="container-box">
    <form class="form-horizontal" action='' method="POST">
        <fieldset>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>

                <div class="controls">
                    <input type="text" name="email" class="input-xlarge">
                    <p class="help-block">请输入你的E-mail来重置密码</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn">找回密码</button>
                </div>
            </div>
        </fieldset>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
    </form>
</div>
{% endblock %}
