{% extends 'common/content_layout.html' %}
{% import 'common/topics.html' as topics_util %}

{% block header_left %}
    <div class="title">
        <ul class="nav nav-pills">
            <li class="active">外汇</li>
            <li>外汇</li>
            <li>外汇</li>
            <li>外汇</li>
            <li>外汇</li>
            <li>外汇</li>
        </ul>
    </div>
{% endblock %}

{% block main %}
<div class="topics">
    {{topics_util.topics(hot_topics)}}
</div>

<div class="nodes-cloud shadow white-bg">
    <h4 class="title">
        <span class="octicon octicon-globe"></span>
        常见节点导航
    </h4>
    <ul>
        {% for plane in planes %}
        <li>
            <label>{{ plane.name }}</label>
            <span class="nodes">
                {% for node in plane.node_set.all() %}
                    <a href="{{ url('node', node.slug) }}">{{ node.name }}</a>
                {% endfor %}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block sidebar %}
{{ super() }}

<div class="sidebox white-bg shadow community-status">
    <div class="ui-header">
        <span class="title">运行状态</span>
    </div>
    <div class="ui-content p10">
        <dl>
            <dt>注册成员</dt>
            <dd>{{ total_users }}</dd>
        </dl>
        <dl>
            <dt>节点</dt>
            <dd>{{ total_nodes }}</dd>
        </dl>
        <dl>
            <dt>主题</dt>
            <dd>{{ total_topics }}</dd>
        </dl>
        <dl>
            <dt>回复</dt>
            <dd>{{ total_replies }}</dd>
        </dl>
    </div>
</div>
{% endblock %}
