{% extends 'common/content_layout.html' %}

{% block javascript %}
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });

</script>
<script type="text/javascript"
        src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="/static/js/widget/emmet.min.js"></script>
<script type="text/javascript" src="/static/js/widget/jquery.textarea.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('textarea.smart-code-support').tabby();
        emmet.require('textarea').setup({
            pretty_break: false, // enable formatted line breaks (when inserting // between opening and closing tag)
            use_tab: false       // expand abbreviations by Tab key
        });
    });
</script>
{% endblock %}

{% block main %}
<div class="topic-create container-box">
    <div class="ui-header">
        <span class="title">创建新主题</span>
    </div>

    <div class="ui-content">
        <form class="mt10" action="" method="post">
            <div class="input-prepend mt10">
                <span class="add-on">#</span>
                <input class="span11" id="prependedInput" type="text" placeholder="主题" name="title" value="{{ form.title.value() }}">
            </div>
            <textarea rows="3" class="content mt5 smart-code-support" placeholder="正文" name="content">{{ form.content.value() }}</textarea>
            <input type="submit" id="checkall" class="btn btn-small" value="立即创建">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        </form>
    </div>
</div>
{% endblock %}
