{% extends 'common/content_layout.html' %}

{% block title %}
{{ topic.title }} - F2E
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.J_topicFavorite').click(function (e) {
            var _node = $(this),
                _type = _node.data('type'),
                fav_url = _node.data('fav-url'),
                unfav_url = _node.data('unfav-url');

            e.preventDefault();
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: eval(_type+'_url')
            }).done(function(resp) {
                if (_type === 'fav') {
                    _node.data('type', 'unfav');
                    _node.html('取消收藏');
                }

                if (_type === 'unfav') {
                    _node.data('type', 'fav');
                    _node.html('加入收藏');
                }
                $('.favourites').html(resp.favourites + ' 人收藏')
            }).fail(function(resp) {
                if (resp.errors) {
                    alert(resp.errors[0].message);
                }
            });
        });

        $('.J_replyTo').click(function (e) {
            username = $(this).attr('data-username');
            replyContent = $('.J_replyContent');
            oldContent = replyContent.val();
            prefix = "@" + username + " ";
            newContent = '';
            if (oldContent.length > 0) {
                if (oldContent != prefix) {
                    newContent = oldContent + "\n" + prefix;
                }
            } else {
                newContent = prefix;
            }
            replyContent.focus();
            replyContent.val(newContent);
        });

        $('.J_replyContent').keydown(function (e) {
            if ((e.ctrlKey || e.metaKey) && e.which === 13) {
                e.preventDefault();
                $(e.currentTarget).parent('form').submit();
            }
        });
    });
</script>
{% endblock %}

{% block header_left %}
<div class="title">
    <div class="title">
        <div class="bread-nav">
            <a href="{{ url('index') }}">首页</a> › <a href="{{url('node', topic.node.slug)}}">{{ topic.node.name }}</a> › {{ topic.title|truncate(20, True) }}
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="topic-detail white-bg shadow">
    <div class="ui-header">
        <a href="{{ topic.author.get_absolute_url() }}">
            <img src="{{ topic.author.avatar.medium.url }}" width="73" height="73"
                 class="avatar"/>
        </a>

        <div class="main">
            <h2 class="title">{{ topic.title }}</h2>

            <div class="meta">
                <span class="node"><a href="{{ topic.node.get_absolute_url() }}">{{ topic.node.name }}</a></span> •
                    <span class="username">
                        <a href="{{ topic.author.get_absolute_url() }}">{{ topic.author.username }}</a>
                    </span> •
                {%
                set latest_reply = topic.reply_set.last()
                -%}
                {% if latest_reply %}
                <span class="created-time">发表于 {{ topic.created|human_date }}</span> •
                        <span class="last-reply-username">最后回复来自
                            <a href="{{ latest_reply.author.get_absolute_url() }}">
                                {{ latest_reply.author.username }}
                            </a>
                        </span> •
                <span class="last-reply-time">{{ latest_reply.created|human_date }}</span>
                {% else %}
                <span class="created-time">发表于 {{ topic.created|human_date }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="ui-content">
        {{ topic.content|content_process|sanitize }}
    </div>
    <div class="ui-footer">
        <a href="#" class="mr15"
           onclick="window.open('http://service.weibo.com/share/share.php?url={{ request.build_absolute_uri(topic.get_absolute_url()) }}&title=F2E%20-%20{{ topic.title }}', '_blank', 'width=550, height=370');">
            新浪微博</a>
        {% if user.is_authenticated() %}
            {% if not topic.favourited_by(user) %}
            <a href="javascript:void(0)" class="J_topicFavorite mr15" data-type="fav"
               data-fav-url="{{ url('topic_favourite', topic.id) }}"
               data-unfav-url="{{ url('topic_unfavourite', topic.id) }}">加入收藏</a>
            {% else %}
            <a href="javascript:void(0)" class="J_topicFavorite mr15" data-type="unfav"
               data-fav-url="{{ url('topic_favourite', topic.id) }}"
               data-unfav-url="{{ url('topic_unfavourite', topic.id) }}"
                    >取消收藏</a>
            {% endif %}

            {% if topic.created_by(user) %}
            <a href="{{ url('topic_edit', topic.id) }}" class="fr ml15">编辑主题</a>
            {% endif %}
        {% endif %}

        <div class="favourites fr ml15">{{ topic.n_favourites }} 人收藏</div>
        <span class="hits fr">{{ topic.n_hits }} 次点击</span>
    </div>
</div>

{% set replies_count = page.paginator.count%}
{% if replies_count %}
<div class="topic-reply white-bg shadow mt10">
    <div class="ui-header">
        <span>{{ replies_count }}&nbsp;条回复&nbsp;|&nbsp;直到&nbsp;{{ latest_reply.created|datetime }}</span>
    </div>
    <div class="ui-content">
        {% set floor = page.start_index() %}
        {% for reply in page.object_list %}
        <div class="reply-item">
            <a href="{{ reply.author.get_absolute_url() }}">
                <img src="{{ reply.author.avatar.small.url }}" alt=""
                     class="avatar"/>
            </a>

            <div class="main">
                <div class="meta">
                    <a href="{{ reply.author.get_absolute_url() }}" class="reply-username">
                        <span class="username">{{ reply.author.username }}</span>
                    </a>
                    <span class="time">{{ reply.created|human_date }}</span>
                    <div class="fr">
                        <span class="reply-to J_replyTo" data-username="{{ reply.author.username }}">
                            <img src="/static/images/reply.png" alt=""/>
                        </span>
                        <span class="floor">#{{ floor + loop.index0 }}</span>
                    </div>
                </div>
                <span class="content">{{ reply.content|content_process|sanitize }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="clearfix">
    <div class="fr">
        {{page|paginate}}
    </div>
</div>
{% else %}
<div class="alert mt20 no-replies">
    暂无回复，说出你的观点吧
</div>
{% endif %}

<div class="topic-reply-create white-bg shadow mt10 p10" id="replyform">
    {% if user.is_authenticated() %}
    <div class="ui-header">
        <span class="title">创建新的回复</span>
    </div>
    <div class="ui-content">
        <form class="mt10" action="{{url('reply', topic.id)}}" method="post">

            <textarea rows="3" class="content mt5 smart-code-support J_replyContent" placeholder="回复内容"
                      name="content" id="summernote"></textarea>
            <input type="submit" id="checkall" class="btn btn-small mt5" value="立即回复">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        </form>
    </div>
    {% else %}
    <div class="ui-header">
        <span class="title">登录后即可参与回复</span>
    </div>
    <div class="ui-content">
        <a class="btn btn-small mt5 mr10" type="button" href="{{ url('login') }}">登录</a>
        <a class="btn btn-small mt5" type="button" href="{{ url('register') }}">注册</a>
    </div>
    {% endif %}
</div>
{% endblock %}
